%ul
  - if article.has_preceding?
    %li.preceding
      = link_to article_url(article.preceding) do
        %span.button= t(".preceding")
        %span.title= article.preceding.title

  - if article.has_upcoming?
    %li.upcoming
      = link_to article_url(article.upcoming) do
        %span.title= article.upcoming.title
        %span.button= t(".upcoming")
