%ul
  - if article.has_preceding?
    %li.preceding
      = link_to article_url(article.preceding) do
        %span.button= t('.preceding')
        %span.title= article.preceding.title

  - if article.has_succeeding?
    %li.succeeding
      = link_to article_url(article.succeeding) do
        %span.title= article.succeeding.title
        %span.button= t('.succeeding')
