#not_found

  #death-star
  #astronaut
  #message
    %h1= t(".title")
    %p
      %span= t(".error")
      = t(".message")

    %p.back
      = t(".back")
      = link_to t(".website_name"), root_path
