#not_found(class='error')

  #death-star
  #astronaut
  #message
    %h1= t(".#{error}.title")
    %p
      %span= t(".#{error}.error")
      = t(".#{error}.message")

    %p.back
      = t(".#{error}.back")
      = link_to t(".#{error}.website_name"), root_path
